:root {
    --bg-color: #ffffff;
    --bg-secondary-color: #f3f3f6;
    --color-primary: #14854F;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #333333;
    --font-family-sans: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
  }

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-lightGrey) var(--bg-primary);
  }
  *::-webkit-scrollbar {
    width: 8px;
  }
  *::-webkit-scrollbar-track {
    background: var(--bg-primary);
  }
  *::-webkit-scrollbar-thumb {
    background: var(--color-lightGrey);
  }
  body {
    background-color: var(--bg-color);
    line-height: 1.6;
    font-size: var(--font-size);
    color: var(--font-color);
    font-family: "Segoe UI", "Helvetica Neue", sans-serif; /*fallback*/
    font-family: var(--font-family-sans);
    margin: 0;
    padding: 0;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0.35em 0 0.7em 0;
}
.container {
    max-width: var(--grid-maxWidth);
    margin: 0 auto;
    width: 96%;
    padding: 0 calc(var(--grid-gutter) / 2);
}

.is-hero {
    width: 100%;
    min-height: 80vh;
  }

.stack-vertical {
    flex-direction: column;
}

.stack-horizontal {
    flex-direction: row;
}

.is-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.is-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.is-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
